@model DoAn.Models.Account

<div class="container mt-4" style="max-width: 600px;">
    <h2 class="text-primary mb-4">Chỉnh sửa thông tin</h2>

    <div class="card shadow-sm">
        <div class="card-body">

            <form asp-controller="Account"
                  asp-action="EditProfile"
                  method="post">

                <input type="hidden" name="id" value="@Model.Id" />

                <div class="mb-3">
                    <label>Họ tên</label>
                    <input name="fullName"
                           value="@Model.FullName"
                           class="form-control"
                           required />
                </div>

                <div class="mb-3">
                    <label>Số điện thoại</label>
                    <input name="phone"
                           value="@Model.Phone"
                           class="form-control" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email"
                           name="Email"
                           value="@Model.Customer?.Email"
                           class="form-control" />
                </div>
                <div class="mb-3">
                    <label>Địa chỉ</label>
                    <input name="address"
                           value="@Model.Address"
                           class="form-control" />
                </div>

                <div class="mb-3">
                    <label>Mật khẩu mới</label>
                    <input name="password"
                           type="password"
                           class="form-control"
                           placeholder="Bỏ trống nếu không đổi mật khẩu" />
                </div>

                <button class="btn btn-success">
                    Lưu thay đổi
                </button>

                <a asp-controller="Account"
                   asp-action="Profile"
                   class="btn btn-secondary">
                    Hủy
                </a>

            </form>

        </div>
    </div>
</div>